database:
    driver: ${DBDRIVER}
    host: ${DBSERVER}
    dbname: ${DBNAME}
    port: ${DBPORT}
    user: ${DBUSER}
    password : ${DBPASS}
    charset: UTF-8
    defaultTableOptions: { collate: SQL_Latin1_General_CP1_CI_AS }
