

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>EC-CUBE管理画面</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">

</head>

<body>

<div class="news_area">
    <div class="link_list">
        <div class="tableish">

            <!--広告エリア-->
            <a href="https://www.ec-cube.net/product/payment/?argument=2qpV46CP&dmai=3admin_payment2015" class="item_box tr" target="_blank">
                <div class="item_news td"><img src="/upload/save_image/07281421_597ac9e39949e.jpg" alt="">
                    <strong>EC-CUBEペイメントなら、スマートフォン向けの決済手段も充実!</strong>
                    <p>【スマホECに人気】キャリア決済・コンビニ決済・Pay-easy、定期購入など、充実のオプションメニュー</p>
                </div>
                <div class="icon_link td">
                    <svg class="cb cb-angle-right"> <use xlink:href="#cb-angle-right" /></svg>
                </div>
            </a><!-- /.item_box -->

            <!--新着情報エリア-->
            <a href="https://www.ec-cube.net/products/list.php?&orderby=review_count&ecversion=4.0&argument=2qpV46CP&dmai=a5de86ad22cfcb" class="ebis_button_trigger" data-cid="2qpV46CP" data-pid="info_review" target="_blank" style="display:block;margin-bottom:10px;max-width:320px;">
                <img src="/user_data/packages/default/img/owners/bnr_review_blue.png" alt="プラグインレビュー機能実装" style="width:100%">
            </a>

            <a href="https://www.shiro8.net/manual4/v40x/index.html" class="item_box tr" target="_blank" style="display:block;margin-bottom:10px;max-width:320px;">
                <img src="/user_data/packages/default/img/guide/EC-CUBE_manual.png" style="width:100%">
            </a>

            <a href="https://www.ec-cube.net/mail/index.php?argument=2qpV46CP&dmai=a5951f3a0100da" class="item_box tr" target="_blank">
                <div class="item_news td">
                    <p>EC-CUBE公式メルマガが、より手軽にご購読いただけるようになりました。最新ニュースやECに関するノウハウ・セキュリティ情報などをお届けします。</p></div>
                <div class="icon_link td">
                    <svg class="cb cb-angle-right"> <use xlink:href="#cb-angle-right" /></svg>
                </div>
            </a><!-- /.item_box -->

        </div>
    </div>

    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/function.js"></script>

</body>
</html>
